---
import MainLayout from "../layout/MainLayout.astro";
import "../styles/global.css";

const title = 'Pokémon Static | Home';
---

<MainLayout title={title}>
	<h1 class="text-3xl">Home</h1>
</MainLayout>
